:root{
    --font-color: #313131;
    --font-hover-color: red;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.containter{
    width: 500px;
}

.form-group{
    margin-bottom: 1.5em;
}

.form-label{
    font-size: .75em;
    color:var(--font-color);
    display: block;
    opacity: 1;
}

.form-control{
    box-shadow: none;
    border-radius: 0;
    border-color: #000000;
    border-style: none none solid none; /*top right bottom left*/
    width: 100%;
    font-size: 1.25em;
}
.form-control::placeholder{
    color: #ba4747;
}

.form-control:focus{
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}

.form-control select{
    display: none;
    color: blue;
}

.btn{
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10 50px;
    text-transform: uppercase;
}
.btn:hover{
    border-color: var(--font-hover-color);
    color:var(--font-hover-color)
}